/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$font: Arial, Helvetica, sans-serif;
$backround_color: #2a278c;
$letter_color: #f0e1c7;

body{
  font-family: $font;

  //background-color: $backround_color;
  background-image: image_url("app_backround.jpeg");
  //background-repeat: no-repeat;
  //background-position: center;
  //background-size: 100vw 100vh;

  min-height: 100vh;

  color: $letter_color;
  padding: 10px;
}

//navbar style
/* Add a black background color to the top navigation */
.topnav {
  background-color: #01001c;
  overflow: hidden;
  position: sticky;
  top: 5px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

//footer styling
p#fp1 {
  margin-top: 40px;
  text-align: right;
}
