/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$font: Comic Sans MS, Comic Sans, cursive;
$letter_color: #f0e1c7;

//navbar styling
.topnav {
  background-color: #01001c;
  overflow: hidden;
  position: sticky;
  top: 5px;

  .topnavright {
      float: right;

      span {
          float: left;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
      }
    }

    a {
      float: left;
      font-family: $font;
      color: $letter_color;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;

     &:hover {
       background-color: #ddd;
       color: black;
     }
   }
}

//styling for the flash message
.flash_message {
  margin: 0 auto;
  width: 50vw;
  background-color: #01001c;
  padding: auto;
  color: #f0e1c7;
  text-align: center;
  font-size: 18px;
}

//main body styling
body{
  font-family: $font;
  background-image: image_url("app_backround.jpeg");
  color: $letter_color;
  padding: 20px;
}

//footer styling
p#fp1 {
  margin-top: 60px;
  text-align: right;
}
