// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reviewscenter {
  margin: 0 auto;
  width: 500px;
  background-color: #fffcf1;
  padding: auto;
  color: #36454f;

  td {
    max-width: 45ch;
    overflow-wrap: break-word;
  }
}
